.container{
    background-color: #180f05;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 6;
    
    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        font-size: 30px;
    }
}
.add {
    cursor: pointer; /* סמן יד כאשר מרחפים על הכותרת */
  }
  
  .dropdown {
    position: relative; /* עיצוב התפריט הנפתח */
    display: inline-block;
    color: white;
  }
  
  .menu {
    display: none;
    position: absolute;
    background-color: #a3040c;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  

  .dropdown:hover .menu {
    display: block;
  }
  .fixed{
    height: 90px;
  }