@import '../../app/vars.scss';


  .load{
   @extend .photos;
  }
  .photoLoad{
   background: linear-gradient(to right ,rgb(184, 179, 179),rgb(228, 225, 225),rgb(184, 179, 179));
   height: 250px;
   border-radius: 10px;
   animation:load 3s infinite linear ;
  }
  @keyframes load{
   0%{
     background-position-x:0px; 
   }
   100%{
      background-position-x:470px; 
   }
   

  }