
  $primary-color: #f3bd35;
  $text-color: #11170a;



.photos{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 40px;
  
    img{
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  